modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["android-tools", "gradle"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android Project Demo"

[[workflows.workflow]]
name = "Android Project Demo"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run_project.sh"

[workflows.workflow.metadata]
outputType = "console"
